.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}